body {
    padding: 0px;
    margin: 0px
}

header {
    height: 200px;
    background-color: rgb(78, 78, 78);
}

footer {
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;

}
.column-one {
    height: 100vh;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: lightgray;
    z-index: 2;
}

.column-two {
    height: 100vh;
    width: 300px;
    display: flex;
    margin-left: 2200px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: lightgray;
    z-index: 2;
}

